.one_page{
    min-height: 100vh;
}
.home{
    background-image: url("../static/imagens/zoio.jpg");
    background-position: top;
    background-size: cover;
}
.formulario_login{
    background-image: url("../static/imagens/DogCarro.jpg");
    background-position: top;
    background-size: cover;
}
.logo{
    width: 15%;
}
.logo img{
   width: 100%;
}
.card_titulo h1{
    font-size: 5rem!important;
}
.card_titulo{
    position: absolute;
    top:25vh;
    left: 50px;
    border-radius: 1em;
}
#titulo_cadastrar{
    font-size: 40px!important;
}
.login-form{
    padding: 2%;
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 3px;
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.60);
    max-width: 368px
}
